*~
*#
#*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.DS_Store
*.sass-cache

node_modules

.~lock*
*.bbl
*.aux
sigproc-sp.tex
.DS_Store
*.blg
*.log
*~
*.out
\#*
.\#*
*.sw?

*.pdf